:root {
  --action:#03A9F4;
  --alternative:#fafafa;
  --alternative-darker:#ebf7fc;
  --dark:#222;
  --red:#F44336;
  --white:#fff;
  --black:#000;
}


body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;

}

main {
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  height: calc(100vh);
  width: calc(100vw);
}