 .colorPicker{
  display: flex;
  flex-direction: column;
  padding-top: 0em;
  gap: 0.5em;
}

#label {
  border-radius: 2px;
  border: 2px solid var(--white);
  outline: none;
  width: 36px;
  height: 22px;
  cursor:pointer;
}


